asgiref==3.11.1
attrs==25.4.0
cfgv==3.5.0
distlib==0.4.0
Django==6.0.2
django-restframework==0.0.1
djangorestframework==3.15.2
drf-spectacular==0.27.1
filelock==3.24.3
identify==2.6.16
inflection==0.5.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
nodeenv==1.10.0
platformdirs==4.9.2
pre_commit==4.5.1
psycopg2-binary==2.9.9
python-dotenv==1.0.0
PyYAML==6.0.3
referencing==0.37.0
rpds-py==0.30.0
sqlparse==0.5.5
typing_extensions==4.15.0
tzdata==2025.3
uritemplate==4.2.0
virtualenv==20.38.0
